
@charset "utf-8";
/* charset을 설정함으로써 css에 한글들어갔을때 깨지는거 방지함 */

*{margin:0; padding:0; box-sizing: border-box;}
a{color:inherit; text-decoration: none;}
ul{list-style: none;}
img{width:100%;}
h1{
    text-align: center; 
    padding:10px 0 20px;
}
.cf::after{content: ''; display: block; clear: both;}

#nav{
    background-color: #b69040;
    border-top:2px solid #7e642d;
}
.depth1{
    max-width:1200px;
    /* max-width(최대넓이) 속성으로 넓이를 잡으면 윈도우 넓이가 최대넓이보다
    크면 그 넓이를 유지하고, 작으면 width:100%로 바뀜 */
    margin:0 auto;
}

/* 부모구조에 overflow:hidden 대신에 아래의 공식을 사용함 */
/* .depth1::after{
    content:'';
    display: block;
    clear: both;
} */
.depth1 > li{
    width:16.666%;
    float: left;
    text-align: center;
    font-size: 17px;
    color:white;
    border-right:1px solid #a07e38;
    position:relative;
}
.depth1 > li:first-child {
    border-left:1px solid #a07e38;
}
.depth1 > li > a{
    display: block;
    padding:12px 0;
}


.depth2{
    position:absolute;
    top:100%; left:0;
    width:100%;
    background: rgba(0,0,0,0.5);
    font-size:14px;
    padding:20px 0;
    display: none;
}
.depth1 > li:hover .depth2{ display: block;}
.depth2 > li{ line-height: 2em;}
.depth2 > li > a{ display: block;}